In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import platform
# sns.set()

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print("It's unknown system. Hangul fonts are not supported!")
    
plt.rcParams["figure.figsize"] = [12,6]

%matplotlib notebook

In [4]:
df = pd.read_csv('data/train.csv', sep=',', encoding='UTF-8')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [26]:
df1 = df[df.columns[:29]]
df1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA

In [25]:
df2 = df[df.columns[29:55]]
df2.head()

,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
0,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,...,0,1710,1,0,2,1,3,1,Gd,8
1,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,...,0,1262,0,1,2,0,3,1,TA,6
2,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,...,0,1786,1,0,2,1,3,1,Gd,6
3,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,...,0,1717,1,0,1,0,3,1,Gd,7
4,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,...,0,2198,1,0,2,1,4,1,Gd,9

In [28]:
df3 = df[df.columns[55:]]
df3.head()

,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
# test